// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$paragraph-inner-spacing-top-xs: 180px;
$paragraph-inner-spacing-bottom-xs: 50px;
$paragraph-inner-spacing-top-sm: 100px;
$paragraph-inner-spacing-bottom-sm: 70px;
$paragraph-inner-spacing-top-md: 200px;
$paragraph-inner-spacing-bottom-md: 100px;
$paragraph-inner-spacing-top-lg: 230px;
$paragraph-inner-spacing-bottom-lg: 130px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--banner {
  position: relative;

  min-height: 100vh;

  background-color: #eee;
  background-image: url('../images/banner/background.png');

  .paragraph__inner {
    position: relative;

    z-index: 50;

    padding-top: $paragraph-inner-spacing-top-xs;
    padding-bottom: $paragraph-inner-spacing-bottom-xs;
  }

  .field--name-field-link {

    a {
      @extend .btn-primary;
      @extend .btn-lg;

      box-shadow: 0 7px 10px rgba(213, 63, 143, .6);
    }
  }

  .field--name-field-heading {

    + .field--name-field-body {
      margin-top: 20px;
    }
  }

  .field--name-field-body {
    font-size: $font-size-large;

    + .field--name-field-link {
      margin-top: 20px;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  .paragraph--type--banner {

    .field--name-field-link {
      text-align: center;

      a {
        font-size: $font-size-small;
      }
    }

    .field--name-field-heading {
      text-align: center;

      .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
      h1, h2, h3, h4, h5, h6 {
        font-size: $font-size-h2;
      }

      + .field--name-field-body {
        margin-top: 30px;
      }
    }

    .field--name-field-body {
      text-align: center;
      font-size: $font-size-small;

      + .field--name-field-link {
        margin-top: 30px;
      }
    }
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--banner {

    .paragraph__inner {
      padding-top: $paragraph-inner-spacing-top-sm;
      padding-bottom: $paragraph-inner-spacing-bottom-sm;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--banner {

    .paragraph__inner {
      margin: auto;

      max-width: 600px;
    }

    .field--name-field-body,
    .field--name-field-link {
      margin: auto;

      max-width: 75%;
    }
    .field--name-field-link {
      text-align: right;
    }

    .field--name-field-heading {

      + .field--name-field-body {
        margin-top: 60px;
      }
    }

    .field--name-field-body {

      + .field--name-field-link {
        margin-top: 50px;
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
