// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$paragraph-banner-box-hang-outside: 40px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--banner-large,
.paragraph--type--banner-with-image,
.paragraph--type--banner-1-box,
.paragraph--type--banner-2-boxes {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .field--name-field-body {

    + .field--name-field-link {
      margin-top: $grid-gutter-width;
    }
  }

  .field--name-field-link {

    a {
      @extend .btn-primary;
    }
  }

  .box {
    max-width: 400px;
  }

  .image-wrapper {

    img {
      margin: auto;
    }
  }

  .image-out-of-bounds-wrapper {

    img {
      max-width: unset;
    }
  }
}

.paragraph--type--banner-large {
  padding-top: 60px;
  padding-bottom: 60px;

  .field--name-field-body {
    line-height: 1.7;
    font-size: $font-size-large;
    color: $text-color-secondary;
  }

  .field--name-field-body {

    + .field--name-field-link {
      margin-top: $grid-gutter-width * 2;
    }
  }

}

.paragraph--type--banner-with-image,
.paragraph--type--banner-1-box,
.paragraph--type--banner-2-boxes {
  padding-top: 30px;
  padding-bottom: 30px;
}

.paragraph--type--banner-large {
  background-image: url("../images/banner-background--large.png");
}

.paragraph--type--banner-with-image {
  background-image: url("../images/banner-background--with-image.png");
}

.paragraph--type--banner-1-box {
  background-image: url("../images/banner-background--1-box.png");
}

.paragraph--type--banner-2-boxes {
  background-image: url("../images/banner-background--2-boxes.png");

  .box {
    text-align: center;

    .field--name-field-box-1-icon,
    .field--name-field-box-2-icon {

      img {
        margin: auto;
      }
    }

    .field--name-field-box-1-heading,
    .field--name-field-box-2-heading {
      padding: 10px 0;

      font-size: $font-size-h3;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .paragraph--type--banner-large,
  .paragraph--type--banner-with-image,
  .paragraph--type--banner-1-box,
  .paragraph--type--banner-2-boxes {
    margin-bottom: $paragraph-banner-box-hang-outside;

    .box-wrapper {
      justify-content: flex-end;
    }

    .box {
      margin-bottom: (0 - ( 30px + $paragraph-banner-box-hang-outside));
    }

    .image-wrapper {

      img {
        margin-top: (0 - ( 30px + $paragraph-banner-box-hang-outside));
        margin-bottom: (0 - ( 30px + $paragraph-banner-box-hang-outside));
      }
    }

    .image-out-of-bounds-wrapper {
      padding-top: $grid-gutter-width * 2;
    }
  }

  .paragraph--type--banner-with-image {
    margin-bottom: $paragraph-banner-box-hang-outside * 2;

    .image-wrapper {

      img {
        margin-bottom: (0 - (30px + ($paragraph-banner-box-hang-outside * 2)));
      }
    }
  }

  .paragraph--type--banner-large {
    margin-bottom: $paragraph-banner-box-hang-outside * 2;

    .field--name-field-heading {
      max-width: 70%;
    }

    .image-out-of-bounds-wrapper {

      img {
        margin-bottom: (0 - (30px + ($paragraph-banner-box-hang-outside * 2)));
      }
    }
  }

  .paragraph--type--banner-with-image,
  .paragraph--type--banner-1-box {

    .content-wrapper {
      justify-content: center;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--banner-large,
  .paragraph--type--banner-with-image,
  .paragraph--type--banner-1-box,
  .paragraph--type--banner-2-boxes {
    padding-top: 50px;
    padding-bottom: 50px;

    .box {
      margin-bottom: (0 - ( 50px + $paragraph-banner-box-hang-outside));
    }

    .image-wrapper {

      img {
        margin-top: (0 - ( 50px + $paragraph-banner-box-hang-outside));
        margin-bottom: (0 - ( 50px + $paragraph-banner-box-hang-outside));
      }
    }
  }

  .paragraph--type--banner-with-image {

    .image-wrapper {

      img {
        margin-bottom: (0 - ( 50px + ($paragraph-banner-box-hang-outside * 2)));
      }
    }
  }

  .paragraph--type--banner-large {
    padding-top: 50px;
    padding-bottom: 50px;

    .image-out-of-bounds-wrapper {

      img {
        margin-bottom: (0 - ( 50px + ($paragraph-banner-box-hang-outside * 2)));
      }
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--banner-large,
  .paragraph--type--banner-with-image,
  .paragraph--type--banner-1-box,
  .paragraph--type--banner-2-boxes {
    padding-top: 70px;
    padding-bottom: 70px;

    .box {
      margin-bottom: (0 - ( 70px + $paragraph-banner-box-hang-outside));
    }

    .image-wrapper {

      img {
        margin-top: (0 - ( 70px + $paragraph-banner-box-hang-outside));
        margin-bottom: (0 - ( 70px + $paragraph-banner-box-hang-outside));
      }
    }

    .image-out-of-bounds-wrapper {
      padding-top: $grid-gutter-width * 2;

      img {
        margin-bottom: (0 - ( 70px + $paragraph-banner-box-hang-outside));
      }
    }
  }

  .paragraph--type--banner-with-image {

    .image-wrapper {

      img {
        margin-bottom: (0 - ( 70px + ($paragraph-banner-box-hang-outside * 2) ));
      }
    }
  }

  .paragraph--type--banner-large {
    padding-top: 200px;
    padding-bottom: 220px;

    .image-out-of-bounds-wrapper {

      img {
        margin-bottom: (0 - ( 220px + ($paragraph-banner-box-hang-outside * 2) ));
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
