// |--------------------------------------------------------------------------
// | Banner
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--banner
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--banner-1-box {
  padding-top: 30px;
  padding-bottom: 30px;

  background-image: url("../images/banner-background--1-box.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 300px;

  .box {
    max-width: 400px;
  }

  .field--name-field-body {

    + .field--name-field-link {
      margin-top: $grid-gutter-width;
    }
  }

  .field--name-field-link {

    a {
      @extend .btn-primary;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .paragraph--type--banner-1-box {

    .content-wrapper {
      justify-content: center;
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--banner-1-box {
    padding-top: 50px;
    padding-bottom: 50px;

    min-height: 300px;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--banner-1-box {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .paragraph--type--banner-1-box {
    min-height: 400px;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .paragraph--type--banner-1-box {
    min-height: 400px;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
