// |--------------------------------------------------------------------------
// | Banner with contextual background
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--banner-contextual-background
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$paragraph-inner-spacing-top-xs: 60px;
$paragraph-inner-spacing-bottom-xs: 50px;
$paragraph-inner-spacing-top-sm: 100px;
$paragraph-inner-spacing-bottom-sm: 70px;
$paragraph-inner-spacing-top-md: 160px;
$paragraph-inner-spacing-bottom-md: 100px;
$paragraph-inner-spacing-top-lg: 190px;
$paragraph-inner-spacing-bottom-lg: 130px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--banner-contextual-background {
  position: relative;

  min-height: 100vh;

  .paragraph__inner {
    position: relative;

    z-index: 50;

    padding-top: $paragraph-inner-spacing-top-xs;
    padding-bottom: $paragraph-inner-spacing-bottom-xs;
  }

  .field--name-field-heading {

    + .field--name-field-subheading,
    + .field--name-field-body {
      margin-top: 20px;
    }
  }

  .field--name-field-subheading {

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      font-weight: $headings-font-weight-light;
    }

    + .field--name-field-body {
      margin-top: 20px;
    }
  }

  .field--name-field-body {
    font-size: $font-size-large;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--banner-contextual-background {

    .paragraph__inner {
      padding-top: $paragraph-inner-spacing-top-sm;
      padding-bottom: $paragraph-inner-spacing-bottom-sm;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--banner-contextual-background {

    .field--name-field-heading {
      max-width: 85%;
      margin-left: auto;

      .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
      h1, h2, h3, h4, h5, h6 {
        font-size: 64px;
      }
    }

    .field--name-field-subheading {
      max-width: 70%;
    }

    .field--name-field-body {
      max-width: 60%;
      margin-left: auto;
    }

    .field--name-field-heading {

      + .field--name-field-subheading,
      + .field--name-field-body {
        margin-top: 110px;
      }
    }

    .field--name-field-subheading {

      + .field--name-field-body {
        margin-top: 50px;
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
