// |--------------------------------------------------------------------------
// | Webform
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--box-with-background-image
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--box-with-background-image {
  padding-top: 30px;
  padding-bottom: 30px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 300px;

  .box {
    max-width: 400px;

    padding: 50px;

    border-radius: $border-radius-large;
    background-color: $body-bg-secondary;

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;

      font-size: $font-size-h3;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .paragraph--type--box-with-background-image {

    &.paragraph--box-position-left {}

    &.paragraph--box-position-right {

      .box {
        margin-left: auto;
      }
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--box-with-background-image {
    padding-top: 50px;
    padding-bottom: 50px;

    min-height: 300px;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--box-with-background-image {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .paragraph--type--box-with-background-image {
    min-height: 400px;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .paragraph--type--box-with-background-image {
    min-height: 450px;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
