// |--------------------------------------------------------------------------
// | Explainer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--explainer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--explainer {

  .horizontal-tabs {

    div {
      display: inline-block;
    }

    button {
      color: $brand-primary;
      border: 1px solid $brand-primary;
      background-color: #fff;

      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);

      &.active {
        background-color: $brand-secondary;
        border-color: $brand-secondary;
      }
    }
  }

  .vertical-tabs {
    padding: 20px 0;

    border-right: 1px solid $brand-primary;

    button {
      position: relative;
      display: block;

      padding: 10px 15px 10px 0;

      width: 100%;

      text-align: left;
      font-weight: $font-weight-bold;

      outline: 0;

      background-color: transparent;
      color: $text-muted;
      border: none;

      &.active {
        color: $brand-primary;

        &:after {
          position: absolute;

          content: "";
          background-color: #fff;

          width: 20px;
          height: 20px;

          left: 100%;
          top: 50%;

          margin-top: -10px;
          margin-left: -10px;

          background-image: url('../images/mini-polygon.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--explainer {

    .field--name-field-image {

      img {
        margin-top: -140px;
      }
    }

    .horizontal-tabs {
      margin-bottom: 70px;
    }

    .vertical-tabs {

      button {
        padding: 10px 60px;
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
