// |--------------------------------------------------------------------------
// | Simple text
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--simple-text
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$paragraph-spacing-top-xs: 20px;
$paragraph-spacing-bottom-xs: 20px;
$paragraph-spacing-top-sm: 30px;
$paragraph-spacing-bottom-sm: 30px;
$paragraph-spacing-top-md: 40px;
$paragraph-spacing-bottom-md: 40px;
$paragraph-spacing-top-lg: 60px;
$paragraph-spacing-bottom-lg: 60px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--simple-text,
.paragraph--type--simple-text-2-columns,
.paragraph--type--text-with-image {
  padding-top: $paragraph-spacing-top-xs;
  padding-bottom: $paragraph-spacing-bottom-xs;

  background-color: #fff;

  .field--name-field-heading {

    + .field--name-field-body {
      margin-top: 20px;
    }
  }
}

.paragraph--type--text-with-image {
  background-color: #fff;

  .field--name-field-heading {
    margin-bottom: 0;

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      font-size: $font-size-h4;

      color: $brand-primary;
    }

    + .field--name-field-body {
      margin-top: 20px;
    }
  }

  .image-position--left {

    .field--name-field-image {

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .image-position--right {

    .field--name-field-image {

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  [class*="col-"] {
    justify-content: center;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  .paragraph--type--simple-text,
  .paragraph--type--simple-text-2-columns,
  .paragraph--type--text-with-image {

    [class*="col-"] {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {


  .paragraph--type--text-with-image {

    .image-position--left {

      .field--name-field-image {

        img {
          margin-right: initial;
        }
      }
    }

    .image-position--right {

      .field--name-field-image {

        img {
          margin-left: initial;
        }
      }
    }
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .paragraph--type--simple-text,
  .paragraph--type--simple-text-2-columns,
  .paragraph--type--text-with-image {
    padding-top: $paragraph-spacing-top-md;
    padding-bottom: $paragraph-spacing-bottom-md;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .paragraph--type--simple-text,
  .paragraph--type--simple-text-2-columns,
  .paragraph--type--text-with-image {
    padding-top: $paragraph-spacing-top-lg;
    padding-bottom: $paragraph-spacing-bottom-lg;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
