// |--------------------------------------------------------------------------
// | Testimonials
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--testimonials
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--testimonials {
  padding-top: 15px;
  padding-bottom: 15px;

  .field--name-field-heading {
    margin-bottom: 50px;

    text-align: center;
  }

  // Tiny slider.
  .tns-outer {
    position: relative;
  }
  .tns-nav {
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;

    padding-top: 50px;

    text-align: center;

    button {
      width: 12px;
      height: 12px;

      padding: 0;
      margin: 0 6px;

      border: 0;
      border-radius: 100%;

      background-color: $brand-secondary;

      &.tns-nav-active {
        background-color: #AAD6CF;
      }
    }
  }

  .tns-item {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  button[data-action="start"],
  button[data-action="stop"],
  .tns-controls {
    display: none;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
