// |--------------------------------------------------------------------------
// | Text with image
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--text-with-image
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$paragraph-inner-spacing-top-xs: 20px;
$paragraph-inner-spacing-bottom-xs: 20px;
$paragraph-inner-spacing-top-sm: 30px;
$paragraph-inner-spacing-bottom-sm: 30px;
$paragraph-inner-spacing-top-md: 35px;
$paragraph-inner-spacing-bottom-md: 35px;
$paragraph-inner-spacing-top-lg: 35px;
$paragraph-inner-spacing-bottom-lg: 35px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--text-with-image {
  background-color: #fff;

  &.paragraph {
    min-height: initial;
  }

  .paragraph__inner {
    padding-top: $paragraph-inner-spacing-top-xs;
    padding-bottom: $paragraph-inner-spacing-bottom-xs;
  }

  .field--name-field-heading {

    + .field--name-field-subheading,
    + .field--name-field-body {
      margin-top: 20px;
    }
  }

  .field--name-field-subheading {

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }

    + .field--name-field-body {
      margin-top: 20px;
    }
  }

  .field--name-field-image {

    img {
      margin: auto;
    }
  }

  [class*="col-"] {
    justify-content: center;
  }
}

.field--name-field-paragraphs-wide {

  > .field--item {

    + .field--item {

      .paragraph--type--text-with-image {
        margin-top: ((0 - $grid-gutter-width) / 2);
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--banner {

    .paragraph__inner {
      padding-top: $paragraph-inner-spacing-top-sm;
      padding-bottom: $paragraph-inner-spacing-bottom-sm;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--text-with-image {

    .field--name-field-heading {}

    .field--name-field-subheading {}

    .field--name-field-body {}
  }

  .field--name-field-paragraphs-wide {

    > .field--item {

      + .field--item {

        .paragraph--type--text-with-image {
          margin-top: ((0 - ($grid-gutter-width * 2)) / 2);
        }
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .paragraph--type--text-with-image {

    .paragraph__inner {
      padding-top: $paragraph-inner-spacing-top-md;
      padding-bottom: $paragraph-inner-spacing-bottom-md;
    }
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .paragraph--type--text-with-image {

    .paragraph__inner {
      padding-top: $paragraph-inner-spacing-top-lg;
      padding-bottom: $paragraph-inner-spacing-bottom-lg;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
