// |--------------------------------------------------------------------------
// | Webform
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--webform
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--webform {

  .form-item-heading {
    display: none;
  }

  .field--name-field-heading {
    text-align: center;
  }

  .container {
    max-width: 760px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.paragraph--type--webform {

  &.paragraph--background-color-primary,
  &.paragraph--background-color-secondary {

    .form-actions {

      .btn {
        @extend .btn-tertiary;
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraph--type--webform {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .paragraph--type--webform {
    padding-top: 90px;
    padding-bottom: 85px;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
