{% set classes = [
  term.bundle|clean_class,
  view_mode ? view_mode|clean_class,
] %}

<a href="{{ url }}"
   class="element-wrapper-link entity-list">

  <!-- Begin - icon -->
  <div class="entity-list__icon">
      <span class="initial-icon" data-toggle="tooltip" title="{{ name_raw }}">
        {{ name_initials }}
      </span>
  </div>
  <!-- End - icon -->

  <!-- Begin - content -->
  <div class="entity-list__content">

    <div class="entity-list__heading">
      <h2
        class="entity-list__heading__title heading-h4">{{ name }}</h2>
    </div>

  </div>
  <!-- End - content -->

</a>
