// |--------------------------------------------------------------------------
// | List advanced
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-list-advanced
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-list-advanced-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-list-advanced {
  display: flex;

  padding: 12px 0;

  align-items: center;

  &, &:hover, &:focus {
    text-decoration: none;
  }

  .list-inline {
    margin-bottom: 0;
  }
}

.entity-list-advanced__heading {

  + .entity-list-advanced__body {
    margin-top: 5px;
  }

  + .entity-list-advanced__footer {
    margin-top: 5px;
  }
}
.entity-list-advanced__heading__title {
  padding: 0;
  margin: 0;

  font-weight: $headings-font-weight;
  font-size: $font-size-h6;

  color: $text-color;
}

.entity-list-advanced__icon {
  flex-grow: 0;

  + .entity-list-advanced__content {
    margin-left: 10px;
  }
}

.entity-list-advanced__content {
  flex-grow: 1;
}

.entity-list-advanced__body {
  font-size: $font-size-extra-small;

  color: $headings-color-light;

  + .entity-list-advanced__footer {
    margin-top: 5px;
  }
}

.entity-list-advanced__published-at {
  flex-basis: 90px;
  flex-shrink: 0;

  text-align: right;
  font-weight: $font-weight-bold;
  font-size: $font-size-extra-small;

  color: $text-color-light;
}

.entity-list-advanced__footer {
  font-weight: $font-weight-bold;
  font-size: $font-size-extra-small;

  color: $headings-color-highlighted;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
