<div{{ attributes.addClass('info-box') }}>
  <div class="info-box__headings">
    <div class="info-box__icon">
      {{ content.field_icon }}
    </div>

    <div class="info-box__heading">
      {{ content.field_heading }}
    </div>
  </div>

  <div class="info-box__body">
    {{ content.field_body }}
  </div>
</div>
