<div{{ attributes.addClass('faq-item') }}>
  <div class="faq-item__heading js-faq-item-toggle">
    {{ content.field_heading }}
  </div>

  <div class="faq-item__body">
    {{ content.field_body }}
  </div>
</div>
