<div{{ attributes.addClass('tabba-item hidden') }}>
  <div class="row row--equal-height-columns row--centered-column-content">
    <div class="col-sm-6 col-sm-push-6">
      <div class="text-center">
        {{ content.field_image }}
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      {{ content.field_body }}
    </div>
  </div>
</div>
