$img-path: "../images";
$font-path: "../fonts";
$font-size-extra-small: 12px;

$fa-var-angle-down: '';
$fa-var-angle-right: '';

$path-default-color: #F9CDDB;
$path-borger-color: #D6E9F6;
$path-hr-color: #DAEFF1;
