$img-path: "../images";
$font-path: "../fonts";
$font-size-extra-small: 12px;

$fa-var-angle-down: '';
$fa-var-angle-right: '';

$brand-primary--alternative: #B5420B;
$brand-secondary--alternative: #AAD8CF;
$brand-tertiary--alternative: #101A1E;
