// |--------------------------------------------------------------------------
// | Entity - full
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-full
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$xs-entity-full-header-inner-spacing: 50px;
$sm-entity-full-header-inner-spacing: 60px;
$md-entity-full-header-inner-spacing: 80px;
$lg-entity-full-header-inner-spacing: 90px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-full-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
