// |--------------------------------------------------------------------------
// | Paragraphs wrapper
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraphs-wrapper
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$xs-field-paragraphs-wrapper-padding-top-bottom: 30px;
$sm-field-paragraphs-wrapper-padding-top-bottom: 50px;
$md-field-paragraphs-wrapper-padding-top-bottom: 90px;
$lg-field-paragraphs-wrapper-padding-top-bottom: 120px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraphs-wrapper {
  padding-top: $xs-field-paragraphs-wrapper-padding-top-bottom;
  padding-bottom: $xs-field-paragraphs-wrapper-padding-top-bottom;
}
.field--name-field-paragraphs-wide {

  > .field--item {

    + .field--item {
      margin-top: $grid-gutter-width;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .paragraphs-wrapper {
    padding-top: $sm-field-paragraphs-wrapper-padding-top-bottom;
    padding-bottom: $sm-field-paragraphs-wrapper-padding-top-bottom;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .field--name-field-paragraphs-wide {

    > .field--item {

      + .field--item {
        margin-top: $grid-gutter-width * 4;
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .paragraphs-wrapper {
    padding-top: $md-field-paragraphs-wrapper-padding-top-bottom;
    padding-bottom: $md-field-paragraphs-wrapper-padding-top-bottom;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .paragraphs-wrapper {
    padding-top: $lg-field-paragraphs-wrapper-padding-top-bottom;
    padding-bottom: $lg-field-paragraphs-wrapper-padding-top-bottom;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
