{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <!-- Begin - embedded view -->
      <div class="explainers">
        {{ content.embedded_view }}
      </div>
      <!-- End - embedded view -->

    {% endblock %}
  </div>
{% endblock paragraph %}
