// |--------------------------------------------------------------------------
// | Box
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .box
// | - .box--primary
// | - .box--secondary
// | - .box--tertiary
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin btn-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.box {
  padding: 50px;

  border-radius: $border-radius-large;
  background-color: $body-bg-secondary;

  .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;

    font-size: $font-size-h3;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.box--outline {
  border-width: 4px;
  border-style: solid;
  background-color: $body-bg !important;
}
.box--primary {
  color: #fff;
  background-color: $body-bg-primary;

  a, a:hover, a:focus {
    color: #fff;
  }

  &.box--outline {
    border-color: $body-bg-primary;
  }
}
.box--secondary {
  background-color: $body-bg-secondary;

  &.box--outline {
    border-color: $body-bg-secondary;
  }
}
.box--tertiary {
  background-color: $body-bg-tertiary;

  &.box--outline {
    border-color: $body-bg-tertiary;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
