// |--------------------------------------------------------------------------
// | Flexy navigation
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .flexy-navigation
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin flexy-navigation-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.flexy-navigation {}
.flexy-navigation__item {
  display: flex;

  align-items: center;

  > a {
    padding: $padding-base-vertical $padding-base-horizontal;

    line-height: initial !important;
  }

  a.order,
  a.sign-in {
    margin-left: 5px;
    margin-right: 5px;
  }

  a.order {
    @extend .btn;
    @extend .btn-primary;
  }

  a.sign-in {
    @extend .btn;
    @extend .btn-secondary;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
