// |--------------------------------------------------------------------------
// | Flexy header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .flexy-header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin flexy-header-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.flexy-header {}

.flexy-header__sidebar-toggle {
  border: 0;

  background-color: transparent;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.flexy-header--static {
  margin-bottom: $grid-gutter-width;

  border-bottom: 1px solid $border-color;
}

.flexy-header--pinned {

  .toolbar-horizontal.toolbar-fixed & {
    top: 39px;
  }

  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
    top: 79px;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .flexy-header__logo {
    width: $sticky-navigation-height--md;
    margin-left: (0 - ($grid-gutter-width / 2));

    text-align: center;
  }

  .flexy-header__sidebar-toggle {
    width: $sticky-navigation-height--md;
    margin-right: (0 - ($grid-gutter-width / 2));

    text-align: center;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .flexy-header__logo {
    width: $sticky-navigation-height--lg;
  }

  .flexy-header__sidebar-toggle {
    width: $sticky-navigation-height--lg;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
