// |--------------------------------------------------------------------------
// | Layout
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__content
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin layout-content-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

html,
body {
  overflow-x: initial;
}

body {
  margin-top: 0 !important;
}

.layout__footer {
  position: relative;

  color: #fff;
  background-color: $brand-tertiary;

  a {

    &, &:hover, &:focus {
      color: #fff;
    }
  }

  .flexy-list {

    > * {
      padding: 0 20px 0 0;
    }
  }

  .menu {
    margin-left: auto;
  }

  // Resets.
  .navbar-nav {
    display: inline-block;

    float: initial;

    > li {
      padding: 0 20px;

      a {
        padding: 0;

        &, &:hover, &:focus {
          background-color: transparent;
        }
      }
    }
  }
}
.layout__footer-row {}
.layout__footer-row--first {
  padding-top: 40px;
  padding-bottom: 0;
}
.layout__footer-row--second {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: $font-size-small;
}

.layout__footer__contact-information {

}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .layout__footer-row--first {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .layout__footer-row--second {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .layout__footer__contact-information {
    padding-left: 54px;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
