// |--------------------------------------------------------------------------
// | Price box.
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .price-box
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin price-box-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.price-box {
  padding: 40px 10px;

  margin-bottom: $grid-gutter-width;

  text-align: center;

  background-color: #F5F6FB;

  .field--name-field-heading {

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    + .field--name-field-body,
    + .field--name-field-price,
    + .field--name-field-price-sub,
    + .field--name-field-link {
      margin-top: 45px;
    }
  }

  .field--name-field-body {

    p:last-child {
      margin-bottom: 0;
    }

    + .field--name-field-price,
    + .field--name-field-price-sub,
    + .field--name-field-link {
      margin-top: 45px;
    }
  }

  .field--name-field-price {

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    + .field--name-field-price-sub {
      margin-top: 3px;
    }

    + .field--name-field-link {
      margin-top: 45px;
    }
  }

  .field--name-field-price-sub {
    font-size: $font-size-small;

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    + .field--name-field-link {
      margin-top: 45px;
    }
  }

  .field--name-field-link {

    a {
      @extend .btn;
      @extend .btn-default;

      box-shadow: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .price-box {
    padding: 60px 15px;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
