// |--------------------------------------------------------------------------
// | Sidebar navigation.
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sidebar-navigation
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin sidebar-navgiation-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.sidebar-navigation {
  margin: 0 0 $grid-gutter-width 0;
  padding: 0;

  list-style: none;
}

.sidebar-navigation__item {

  > a {
    display: block;

    padding: 14px floor( ($grid-gutter-width / 2) );

    font-weight: $font-weight-bold;

    color: $text-color;

    &, &:hover, &:focus, &:active {
      text-decoration: none;
    }

    &:hover {
      color: #fff;

      background-color: $brand-tertiary;
    }
  }
}

.sidebar-navigation__item--active {

  > a {

    &, &:hover, &:focus, &:active {
      color: #fff;

      background-color: $brand-tertiary;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// Icons.
.sidebar-navigation__item--dashboard,
.sidebar-navigation__item--meetings,
.sidebar-navigation__item--settings {

  > a {
    display: flex;

    align-items: center;

    &:before {
      @extend .material-icons;

      font-size: 24px;

      margin-right: 10px;

      color: $brand-tertiary;
    }

    &:hover, &:focus, &:active {

      &:before {
        color: $brand-secondary;
      }
    }
  }

  &.sidebar-navigation__item--active {

    > a {

      &, &:hover, &:focus, &:active {

        &:before {
          color: $brand-secondary;
        }
      }
    }
  }
}

.sidebar-navigation__item--dashboard {

  > a {

    &:before {
      content: "apps";
    }
  }
}
.sidebar-navigation__item--meetings {

  > a {

    &:before {
      content: "business_center";
    }
  }
}
.sidebar-navigation__item--settings {

  > a {

    &:before {
      content: "settings";
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}