// |--------------------------------------------------------------------------
// | Sidebar narrow.
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sticky-navigation
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$sticky-navigation-height--md: 130px;
$sticky-navigation-height--lg: 140px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin sticky-navigation-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.sticky-navigation {
  position: fixed;

  transform-origin: left top;
  transform: rotate(-90deg);

  z-index: $zindex-navbar;

  .toolbar-horizontal.toolbar-fixed & {
    top: 39px;
  }

  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
    top: 79px;
  }

  ul {
    padding-left: 0;
    margin: 0;

    list-style: none;

    li {
      display: inline-block;

      padding: 0 30px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  a {
    position: relative;
    display: block;

    z-index: 50;

    padding: 0 20px; // Add padding here for fat fingers.

    font-size: $font-size-base;

    &:hover {
      text-decoration: none;
    }

    .behindor {
      position: absolute;
      display: block;

      top: 55px;
      left: 10px;
      right: 10px;
      bottom: 55px;

      z-index: -1;

      transition: background-color .2s ease-in-out;

      background-color: rgba(255, 255, 255, .4);
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.sticky-navigation--left {
  left: 0;
}

.sticky-navigation--right {
  right: 0;
}

.is-path-borger {

  .sticky-navigation {

    a {

      .behindor {
        background-color: rgba($path-borger-color, .7);
      }

      &:hover {

        .behindor {
          background-color: $path-hr-color;
        }
      }

      &.active {

        &,
        &:hover {

          .behindor {
            background-color: rgba(#60A4DA, .7);
          }
        }
      }
    }
  }
}

.is-path-hr {

  .sticky-navigation {

    a {

      .behindor {
        background-color: rgba($path-hr-color, .7);
      }

      &:hover {

        .behindor {
          background-color: $path-hr-color;
        }
      }

      &.active {

        &,
        &:hover {

          .behindor {
            background-color: #82CBD0;
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  .sticky-navigation {
    display: none;
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .sticky-navigation {
    display: none;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .sticky-navigation--left {
    top: 400px;

    .toolbar-horizontal.toolbar-fixed & {
      top: 39px + 400px;
    }

    .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
      top: 79px + 400px;
    }

    a {
      min-height: $sticky-navigation-height--md;
      line-height: $sticky-navigation-height--md;
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .sticky-navigation--left {
    top: 500px;

    .toolbar-horizontal.toolbar-fixed & {
      top: 39px + 500px;
    }

    .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
      top: 79px + 500px;
    }

    a {
      min-height: $sticky-navigation-height--lg;
      line-height: $sticky-navigation-height--lg;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
