// |--------------------------------------------------------------------------
// | Testimonial
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .testimonial
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraphs-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.testimonial {
  min-height: 270px;
}

.testimonial__meta {
  display: flex;

  align-items: center;

  + .testimonial__body {
    margin-top: $grid-gutter-width;
  }
}

.testimonial__satisfaction {
  flex-shrink: 1;
  flex-grow: 0;

  padding-left: 3px;
  padding-right: 15px;

  text-align: center;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight-bold;

  color: $brand-secondary;
}
.testimonial__satisfaction-circle {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: auto;

  width: 50px;
  height: 50px;

  border-radius: 100%;
  border: 3px solid $brand-secondary;

  + .testimonial__satisfaction-text {
    margin-top: 3px;
  }
}
.testimonial__satisfaction-text {
  font-size: 10px;
}

.testimonial__data {
  flex-grow: 1;

  .field--name-field-heading {
    margin-bottom: 10px !important;

    text-align: left !important;

    .heading-h1, .heading-h2, .heading-h3, .heading-h4, .heading-h5, .heading-h6,
    h1, h2, h3, h4, h5, h6 {
      font-size: $font-size-h4;
    }
  }

  .field--name-field-name,
  .field--name-field-job-position {
    display: inline-block;
  }

  .field--name-field-job-position {
    color: $text-color-secondary;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
