// |--------------------------------------------------------------------------
// | Webform
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .webform-submission-form
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin webform-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.webform-submission-form {

  .form-control {}
  select.form-control {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-actions {
    margin-top: 50px;
    margin-bottom: 0;

    text-align: center;

    .btn {
      @extend .btn-lg;
    }
  }

  .fieldset-legend {
    @extend label;
  }

  .panel {
    border: 0;

    background-color: transparent;
    box-shadow: none;
  }
  .panel-heading {
    padding: 0;
    border: 0;

    background-color: transparent;

    + .panel-body {
      margin-top: $grid-gutter-width / 2;
    }
  }
  .panel-title {
    font-size: $font-size-large;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight-bold;

    color: $headings-color;
  }
  .panel-body {
    padding: 0;
  }

  .form-type-checkbox {
    padding-left: 30px;

    label {
      font-size: $font-size-base;
      font-weight: bold;
    }

    .help-block {
      padding-left: 19px;

      font-size: $font-size-extra-small;
    }
  }
}
